
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500260084726'); /* IE9*/
  src: url('iconfont.eot?t=1500260084726#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500260084726') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500260084726') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500260084726#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e73a"; }

.icon-eye:before { content: "\e652"; }

.icon-search:before { content: "\e63e"; }

.icon-x:before { content: "\e632"; }

.icon-wode:before { content: "\e615"; }

.icon-biyan:before { content: "\e819"; }



